# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distributed package build artifacts
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE / Editor settings
.vscode/
.idea/

# macOS metadata
.DS_Store

# Test and coverage outputs
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Logs
*.log

notebooks/